<form action="/cadastro/cadastrar" method="post" class="box" style="height: 100%;">
    <div class="row">
        <div class="input-field col s4">
            <input id="name" name="name" required="required" type="text" autocomplete="name" class="validate">
            <label for="name">Nome completo</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            <input id="email" name="email" required="required" type="email" autocomplete="email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            <input id="password" name="password" required="required" type="password" autocomplete="current-password" class="validate">
            <label for="password">Senha</label>
        </div>
    </div>

    <br>

    <div>
        <button type="submit" class="waves-effect waves-light btn-large">Cadastre-se</button>
    </div>
</form>