<div>
    <h1>Partiu!</h1>    
    <h5>CARONAS COMPARTILHADAS</h5>
</div>

<div class="box3 desktop-only">
    <p>Obtenha o aplicativo</p>

    <div class="inline">
        <a href="#">
            <img src="images/download-app-store.png">
        </a>

        <a href="#">
            <img src="images/download-google-play.png">
        </a>
    </div>
</div>