<nav class="blue darken-3" style="padding: 0px 20px;">            
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo"><i class="material-icons">directions_car</i>Partiu!</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
        
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#">Encontrar Carona</a></li>
            <li><a href="#">Oferecer Carona</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </div>
</nav>