<form action="/login" method="POST">
    <div class="box">                
        <div class="row">
            <div class="input-field col s4">
                <input name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input name="password" type="password" class="validate">
                <label for="password">Senha</label>
            </div>
        </div>
        
        <div>
            <p>
                <label>
                    <input type="checkbox" id="conectado" />
                    <span>Continuar conectado</span>
                </label>
            </p>
        </div>

        <div>
            <button type="submit" class="waves-effect waves-light btn-large">Entrar</button>
        </div>

        <div class="link-label">
            <a href="#">Esqueceu a senha?</a>
        </div>
    </div>

    <div class="box2">
        <p class="inline">Não tem uma conta?</p>
        <a href="../cadastro">Cadastre-se</a>
    </div>
</form>