<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Partiu FACCAT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../src/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../../../src/css/materialize-override.css" />
        <script src="../../../src/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="../../../src/js/materialize.min.js" type="text/javascript"></script>
    </head>
    <body>
        <nav class="blue darken-3" style="padding: 0px 20px;">            
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">directions_car</i>Partiu!</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
                
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="#">Encontrar Carona</a></li>
                    <li><a href="#">Oferecer Carona</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </nav>
        <div class="corpo-pagina" style="padding: 0px 20px;">
            <table>
                <thead>
                    <tr>
                        <th>Cidade</th>
                        <th>Bairro</th>
                        <th>Motorista</th>
                    </tr>
                </thead>

                <tbody>
                    <tr style="cursor: pointer;">
                        <td class="clickme">Campo Bom</td>
                        <td class="clickme">Centro</td>
                        <td><a href="#!"><div style="height:100%;width:100%">Pool</div></a></td>
                    </tr>

                    <tr class="hideme">
                        <td colspan="3">
                            <div>
                                <li style="padding-left: 20px;"><b>Dias de aula: </b>Seg, Ter, Qua, Qui, Sex</li>
                            </div>
                        </td>
                    </tr>

                    <tr style="cursor: pointer;">
                        <td class="clickme">Sapiranga</td>
                        <td class="clickme">Centenario</td>
						<td><a href="#"><div style="height:100%;width:100%">Guilherme</div></a></td> 
                    </tr>

                    <tr class="hideme">
                        <td colspan="3">
                            <div>
                                <li style="padding-left: 25px;"><b>Dias de aula: </b>Ter, Qui, Sex, Sab</li>
                            </div>
                        </td>
                    </tr>

                    <tr style="cursor: pointer;">
                        <td class="clickme">Parobé</td>
                        <td class="clickme">Bela Vista</td>
						<td><a href="#"><div style="height:100%;width:100%">Luan</div></a></td> 
                    </tr>

                    <tr class="hideme">
                        <td colspan="3">
                            <div>
                                <li style="padding-left: 25px;"><b>Dias de aula: </b>Ter, Qui, Sex</li>
                            </div>
                        </td>
                    </tr>

                    <tr style="cursor: pointer;">
                        <td class="clickme">Campo Bom</td>
                        <td class="clickme">Genuíno Sampaio</td>
						<td><a href="#"><div style="height:100%;width:100%">Rodrigo</div></a></td> 
                    </tr>

                    <tr class="hideme">
                        <td colspan="3">
                            <div>
                                <li style="padding-left: 25px;"><b>Dias de aula: </b>Ter, Sab</li>
                            </div>
                        </td>
                    </tr>

                    <tr style="cursor: pointer;">
                        <td class="clickme">Nova Hartz</td>
                        <td class="clickme">Vila Grings</td>
						<td><a href="#"><div style="height:100%;width:100%">Pafuncio</div></a></td> 
                    </tr>

                    <tr class="hideme">
                        <td colspan="3">
                            <div>
                                <li style="padding-left: 25px;"><b>Dias de aula: </b>Seg, Ter, Qui, Sab</li>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Pedir Carona</a></li>
            <li><a href="#">Oferecer Carona</a></li>
            <li><a href="#">Sair</a></li>
        </ul>

        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });

            $('.hideme').find('td').hide();
            $('.clickme').click(function () {
                $(this).parent().next('.hideme').find('td').slideToggle();
            });            
        </script>
    </body>

    
</html>